.search-filter-bar {
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search__dropdown {
  position: absolute;
  display: flex;
  padding: 12px 7px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 300px;
  top: 48px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

.search__dropdown p {
  color: var(--gray-gray-600);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.search-filter__left {
  display: flex;
  width: 314px;
  max-height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  margin: 20px 0px 20px 20px;
  border-radius: 6px;
  position: relative;
}

.wrap__search {
  display: flex;
  width: 100%;
  max-height: 40px;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 6px;
  background: var(--white, #fff);
}

.search__left {
  display: flex;
  padding-right: 12px;
  align-items: center;
  gap: 10px;
}

.search__input {
  color: var(--gray-gray-300, #a3a3a3);
  font-family: Roboto;
  font-size: 16px;
  width: 67px;
  line-height: 21px;
  border: none;
  outline: none;
}

.search-filter__right {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  max-width: 433px;
  height: 100%;
  margin-right: 35px;
  position: relative;
}

.date__picker {
  display: flex;
  width: 322px;
  max-height: 40px;
  align-items: center;
  gap: 8px;
}

.search__soft {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 0;
  background: transparent;
}

.search__soft:hover {
  cursor: pointer;
}

.search__soft p {
  color: var(--gray-gray-500);
  text-align: center;
  width: 64px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

.search__menu {
  display: none;
}

.headerSearchItem {
  display: flex;
  width: 150px;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 6px;
  background: #fff;
}

.headerSearchItem:hover {
  cursor: pointer;
}

.headerSearchText {
  color: var(--gray-gray-400, #858585);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.filter-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  z-index: 20;
}

.filter-menu p {
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 1248px) {
  .wrap__search {
    height: 36px;
    padding: 4px 8px;
    align-items: center;
  }
  .search-filter-bar {
    margin: 0 auto;
    width: 90vw;
    align-items: center;
    max-height: 60px;
    padding: 12px;
    gap: 8px;
  }
  .search-filter-bar__margin {
    margin-bottom: 1000px;
    width: 100vw;
  }
  .search__softOder {
    display: none;
  }
  .date__picker {
    display: none;
  }
  .search-filter__left {
    max-width: 231px;
    width: 70%;
    margin: 0;
    max-height: 36px;
  }
  .search-filter__right {
    margin: 0;
    gap: 8px;
  }
  .search__input {
    font-size: 14px;
  }
  .search__menu {
    display: block;
    border: 0;
    outline: none;
    height: 36px;
    padding: 8px;
    border-radius: 4px;
    background: var(--White, #fff);
    cursor: pointer;
  }
  .search__soft {
    width: 36px;
    padding: 8px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    background: var(--White, #fff);
  }
  .filter-menu__content {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .filter-menu__content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .menu-category__header {
    color: var(--blue-primary-500);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
  }
  .filter-menu__category {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .menu-category__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  .menu-category__item {
    display: flex;
    height: 40px;
    padding: 20px;
    align-items: center;
    gap: 4px;
    flex: 1 1 48%;
    border-radius: 8px;
    border: 1px solid var(--blue-primary-300);
    background: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    color: var(--blue-primary-300);
  }
  .menu-category__item path {
    fill: rgb(0, 84, 166);
    stroke: rgb(0, 84, 166);
  }
  .menu-category__active {
    background: var(--blue-primary-500);
    color: var(--white, #fff);
  }
  .menu-category__active path {
    fill: var(--white, #fff);
    stroke: var(--white, #fff);
  }
  .menu-category__item:hover,
  .close-filter-btn:hover {
    cursor: pointer;
  }
  .menu-date__picker {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .menu-date_item {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .menu-date_item span {
    color: var(--gray-gray-400);

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .menu-date__picker {
    position: relative;
  }

  .date-picker__datePicker .date-picker__datePicker-left,
  .date-picker__datePicker .date-picker__datePicker-right {
    border-radius: 6px;
    border: 1px solid var(--blue-primary-500);
    background: var(--white, #fff);
    width: 135px;
  }
}
