.careers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}
.careers__content {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  margin-top: 168px;
}

.careers .careers__polygon {
  margin: 0px auto;
  width: 382px;
  height: 98px;
  position: relative;
}
.careers__polygon svg {
  fill: rgba(255, 255, 255, 0.7);
  stroke-width: 2px;
  stroke: var(--white, #fff);
  box-shadow: 5px 5px 16px 0px rgba(255, 255, 255, 0.25) inset;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(2px);
}
.careers__polygon .polygon__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blue-primary-500);
  text-wrap: nowrap;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Philosopher;
  font-size: 40px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.careers__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 48px;
}


.careers__content-jobList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.vector__blue {
  stroke-width: 1px;
  stroke: var(--white, #fff);
}
.careers__content-jobList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

@media screen and (max-width: 886px) {
  .careers__polygon svg {
    width: 247px;
    height: 64px;
    flex-shrink: 0;
  }
  .careers .careers__polygon {
    width: auto;
    height: auto;
  }
  .careers__polygon .polygon__title {
    font-size: 26px;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .careers__content {
    margin-top: 69px;
  }
}
