.post:hover {
  cursor: pointer;
  opacity: 0.9;
}

.post__list {
  padding-top: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-flex;
  height: 535px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}
.post__list::-webkit-scrollbar {
  width: 0px;
}
.post__list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--blue-primary-300);
}
.post__list .post {
  display: flex;
  height: 102px;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
}
.post__list .post .post__title {
  transition: color 0.3s ease;
}

.post__list .post:hover .post__title {
  color: var(--blue-primary-500);
}
.post .post__image {
  width: 104px;
  height: 102px;
  border-radius: 4px 0px 0px 4px;
}
.post .post__content {
  border-radius: 0px 4px 4px 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  height: 100%;
  padding: 12px;
}
.post .post__content .post__title {
  color: var(--gray-gray-500);

  /* Roboto/14px: Bold */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  max-height: 32px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.post .post__content .post__status {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 14px;
}
.post__content .post__status .post__views {
  color: var(--gray-gray-400);

  /* Roboto/12px: Regular */
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}
.post__content .post__status .post__date {
  color: var(--gray-gray-400);

  /* Roboto/12px: Regular */
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}
@media screen and (max-width: 886px) {
  .aside__section {
    width: 100%;
  }
  .post__list {
    width: 100%;
    height: 307px;
    margin: 0px;
    padding: 0px 16px;
  }
  .aside__title {
    font-size: 16px;
    margin-left: 16px;
    margin-top: 16px;
  }
  .post__list .post {
    width: 100%;
  }
  .post .post__content {
    width: 100%;
  }
  .post .post__content .post__title {
    font-size: 14px;
    width: 100%;
  }
  .post .post__image {
    height: 78px;
  }
}
