.carousel {
}
.carousel__wrap {
  margin: 0px auto;
  position: relative;
  width: 1200px;
  height: 531.658px;
  overflow: hidden;
  transition: transform 1s ease, opacity 1s ease;
}

.carousel__item {
  border: 0;
}
.carousel__item:hover {
  cursor: pointer;
}

/* Positioning for specific items */
.carousel__item:nth-child(1) {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel__item:nth-child(2) {
  position: absolute;
  left: 179.1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel__item:nth-child(3) {
  position: absolute;
  left: 412.88px;
  top: 0;
  z-index: 3;
}

.carousel__item:nth-child(4) {
  position: absolute;
  left: 749.41px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel__item:nth-child(5) {
  position: absolute;
  left: 997.33px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
