.careers__component {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}
.careers-detail {
  margin: 0px auto;
  margin-top: 168px;
  width: 100%;
  max-width: 1520px;
  background: rgba(255, 255, 255, 0.8);
  padding: 50px 0px 42px 0px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.5px);
}
.wrap__careers {
  max-width: 1166px;
  margin: 0px auto;
}
.careers__detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}
.careers__header {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  max-height: 100px;
}
.careers__header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.careers__header-content h1 {
  color: var(--blue-primary-600);
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 222.222% */
}
.careers__header-content p {
  color: var(--blue-primary-400);
  leading-trim: both;
  text-edge: cap;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.careers__header-position {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 304px;
  height: 24px;
}
.careers__header-position div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.careers__header-position span {
  color: var(--gray-gray-500, #666);

  /* Roboto/18px: Medium */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.careers__status {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 88.611px;
  background: var(--green-green-50);
}
.expired {
  background: #f7e6e6;
}
.careers__status p {
  color: var(--green-green-500);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}
.expired p {
  color: #ff3939;
}
.careers__header-position svg {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 1287px) {
  .wrap__careers {
    padding-left: 16px;
    padding-right: 16px;
  }
  .careers-detail {
    padding-top: 24px;
  }
  .careers__header-image svg {
    height: 83px;
    width: 83px;
  }
  .careers__header-content h1 {
    font-size: 24px;
  }
  .careers__header-content p {
    font-size: 18px;
  }
  .careers__header-content {
    gap: 10px;
  }
  .job-details__title {
    font-size: 20px;
  }
  .job-details__label {
    font-size: 14px;
    width: 178px;
  }
  .job-details__value {
    font-size: 14px;
    width: 100%;
  }
}
@media screen and (max-width: 886px) {
  .careers-detail {
    margin-top: 136px;
    width: 97%;
  }
}
@media screen and (max-width: 676px) {
  .careers-detail {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(7.5px);
  }
  .careers__detail {
    margin-bottom: 54px;
  }
  .careers__header-image svg {
    height: 36px;
    width: 36px;
    fill: #9fd18b;
    stroke-width: 4px;
    filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.15));
  }
  .careers__header-content h1,
  .careers__header-content p {
    font-size: 14px;
    line-height: 10px;
  }
  .careers__header-position span {
    font-size: 12px;
  }

  .careers__header-contentƠ {
    position: relative;
  }
  .careers__header-position {
    position: absolute;
    top: 74px;
    left: 16px;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  .careers__header-position svg {
    width: 12px;
    height: 12px;
  }
  .careers__status {
    position: absolute;
    padding: 8px 12px;
    top: 68px;
    right: 16px;
  }
  .careers__status p {
    font-size: 14px;
  }
  .job-details__main {
    gap: 16px;
  }
  .job-details__title {
    font-size: 14px;
    line-height: normal;
  }
}
@media screen and (max-width: 576px) {
  .careers-detail {
    margin-top: 86px;
  }
}
