.navbar__S {
  display: none;
}
.header__nav {
  z-index: 2;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #fff;

  background: rgba(0, 47, 92, 0.8);

  backdrop-filter: blur(7.5px);
}

.navbar {
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  list-style: none;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  flex-shrink: 0;
  padding: 4px;
}
.nav-item a:hover {
  color: #9ff;
  border-bottom: 1px solid #9ff;
}
.nav-item .active {
  color: #9ff;
  border-bottom: 1px solid #9ff;
}

@media only screen and (min-width: 1200px) {
  
}
