.main-content {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 690px;
  top: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}
.button-down:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .main-content {
    top: 90px;
  }
  .header-text {
    gap: 12px;
  }
  .header-section {
    gap: 12px;
  }
}
