.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  margin-top: 168px;
  margin-bottom: 92px;
}
.button-down:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .main-content {
    margin-top: 90px;
    margin-bottom: 32px;
  }
  .header-text {
    gap: 12px;
  }
  .header-section {
    gap: 12px;
  }
}
