.blogs {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}
.wrap__blogs- {
  margin-top: 168px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
