.video-background {
  position: absolute;
  z-index: -1;
  height: 1080px;
  width: 100%;
}
.video-background .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.button-down {
  flex-shrink: 0;
  padding: 9px 16px;
}
.company-name {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-family: "Philosopher", sans-serif;
  font-size: clamp(14px, 4vw, 30px);
  font-weight: 700;
  line-height: 120%; /* 120% */
}
.company-short-name {
  color: #9ff;
  leading-trim: both;
  text-edge: cap;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Helvetica Neue", sans-serif;
  font-size: clamp(24px, 4vw, 44px);
  font-weight: 700;
  letter-spacing: 1.76px;
  text-align: center;
}
.subtitle {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: "Helvetica Neue", sans-serif;
  font-size: clamp(14px, 4vw, 24px);
  font-style: italic;
  font-weight: 400;
  line-height: 36px; /* 150% */
  text-align: center;
}

@media only screen and (max-width: 605px) {
  .video-background {
    height: 100vh;
    min-height: 758px;
  }
}
